body {
  text-align: center;
  background-color: hsl(218, 28%, 13%);
  font-size: 14px;
  color: hsl(0, 0%, 100%);
  @font-face {
    font-family: Open Sans;
    src: url(https://fonts.google.com/specimen/Open+Sans);
  }
  font-weight: 400, 700;
}

header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: hsl(218, 28%, 13%);
  color: hsl(0, 0%, 100%);
  width: 100%;
  padding: 10px;
}

nav {
  margin-top: 25px;
}

nav a:visited,
nav a:link {
  color: #fff;
  text-decoration: none;
}

section > div  a:visited,
section > div  a:link {
  color: hsl(198, 60%, 50%);
  text-decoration:underline;
}


nav > ul {
  display: inline;
}

nav > ul > li {
  display: inline-block;
  list-style: none;
  margin: 0 3em 10px 3em;
}

main {
  display: flex;
  padding: 6em;
  margin-top: 4em;
  flex-direction: column; 
}

footer {
  display: block;
  color: hsl(0, 0%, 100%);
  width: 100%;
  padding: 10px;
  background-color: hsl(216, 53%, 9%);
}

footer > section > div > ul , section > div > div > ul > li  {
  display: inline;
  padding: 1.5em;
}

footer > section > div > ul > li , footer > section > div > div > ul > li {
  list-style: none;
  margin: 0 5px 0 5px;
  padding: 1em;
}

.testimonial {
  background-color: hsl(219, 30%, 18%);
}

h2,
header,
.form {
  @font-face {
    font-family: Raleway;
    src: url(https://fonts.google.com/specimen/Raleway);
  }
  font-weight: 400, 700;
}

.form {
  background-color: hsl(217, 28%, 15%);
  text-align: center;
  height: fit-content;
  width: fit-content;
  padding: 2em; 
  border-radius: 24px;
  margin-left: 25%;
  margin-right: 25%;
}

/*#list1{
    float: left;
}

#list2 {
    text-align: center;
}

#list3{
    float: right;
}*/

#logo1 {
  float: left;
}



.testimonial {
  border-radius: 20%;
  padding: 3em;
  margin: 3em;
  height: fit-content;
}

#button,
#started {
  background-color: hsl(198, 60%, 50%);
  border-radius: 12px;
  color: white;
  margin: 40px;
  padding: 14px 40px;
  text-align:center;
  text-decoration: none;
  font-size: 14px;
  width: fit-content;
}

#mail {
  width: fit-content;
  border-radius: 12px;
  color: white;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

#box1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 20px;
  text-align: center;
}

#box2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

#box3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

#box4 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

#box5 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
}

#box6 {
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#box7 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}


#footer { 
  padding: 6em;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-content: space-between;
  
}

footer > section > div > ul {
  margin: 10em;
}

#nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.icons {
  width: 3.5%;
  padding: 2em;
}

@media only screen and (max-width: 900px) {
  #box5 {
   flex-wrap: wrap;
  }
  
 #footer
  {flex-wrap: wrap;}



}

